body{
    font-family: 'Lato', sans-serif;
    background-color: $fondo;
    color: $blanco;
    margin:0;
}
h1{
    font-size:30px;
}
h2{
    text-align: $centro;
    padding-top:25px;
    font-size:35px;
}
h3{
    text-align: $centro;
    font-size:25px;
    font-weight:500;
    margin-bottom:0px;
}
h4{
    text-align:$centro;
}
a{
    font-size:25px;
    text-align: $centro;
    font-weight:700;
    color:$blanco;
    &:link{
        text-decoration:none;
        color: $blanco;
    }

}